
{% extends "base.html" %}


{% block content %}


<h2>
待审核用户
</h2>


<table border="1">

<tr>
<th>账号</th>
<th>姓名</th>
<th>操作</th>
</tr>


{% for profile in pending_users %}


<tr>

<td>
{{profile.user.username}}
</td>


<td>
{{profile.real_name}}
</td>


<td>

<a href="{% url 'approve_user' profile.user.username %}">
通过
</a>


<a href="{% url 'reject_user' profile.user.username %}">
拒绝
</a>


</td>


</tr>


{% endfor %}

</table>


<h2>
审核历史
</h2>


<table border="1">

<tr>

<th>
账号
</th>

<th>
姓名
</th>

<th>
状态
</th>

<th>
审核时间
</th>
<th>
角色
</th>
</tr>


{% for profile in checked_users %}


<tr>


<td>
{{profile.user.username}}
</td>


<td>
{{profile.real_name}}
</td>


<td>
{{profile.status}}
</td>


<td>
{{profile.approved_time}}
</td>
<td>
{{profile.role}}
</td>

<td>
{% if profile.status == "APPROVED" %}
<form method="post" action="{% url 'disable_user' profile.user.username %}">
    {% csrf_token %}
    <button type="submit">禁用</button>
</form>

{% elif profile.status == "DISABLED" %}
<form method="post" action="{% url 'enable_user' profile.user.username %}">
    {% csrf_token %}
    <button type="submit">恢复</button>
</form>

{% elif profile.status == "REJECTED" %}
      无
{% endif %}


<!-- 角色转换 -->

<form method="post"
action="{% url 'change_role' profile.user.username %}">

{% csrf_token %}


{% if profile.role == "ADMIN" %}

<button>
降为普通用户
</button>


{% else %}

<button>
设为管理员
</button>


{% endif %}


</form>
</td>

</tr>

{% endfor %}


</table>

{% endblock %}