<h2>
待审核用户
</h2>


<table border="1">

<tr>
<th>账号</th>
<th>姓名</th>
<th>操作</th>
</tr>


{% for profile in pending_users %}


<tr>

<td>
{{profile.user.username}}
</td>


<td>
{{profile.real_name}}
</td>


<td>

<a href="{% url 'approve_user' profile.user.username %}">
通过
</a>


<a href="{% url 'reject_user' profile.user.username %}">
拒绝
</a>


</td>


</tr>


{% endfor %}

</table>


<h2>
审核历史
</h2>


<table border="1">

<tr>

<th>
账号
</th>

<th>
姓名
</th>

<th>
状态
</th>

<th>
审核时间
</th>

</tr>


{% for profile in checked_users %}


<tr>


<td>
{{profile.user.username}}
</td>


<td>
{{profile.real_name}}
</td>


<td>
{{profile.status}}
</td>


<td>
{{profile.approved_time}}
</td>


</tr>


{% endfor %}


</table>